.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     max-width: 300px; 
     margin: auto; 
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px!important;
  }
  
  .SeeMore {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000!important;
    text-align: center;
    cursor: pointer;
    width: 100%!important;
    font-size: 18px;
  }
  
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .SeeMore:hover, a:hover {
    opacity: 0.7;
  }
  .dotDropDown{
    position: absolute!important;
    left: 90%!important;
    top: 2%;
    cursor: pointer;
    color: white!important;
    font-size: 1.5rem;
  }
  .ant-card-meta-description{
    /* border: 1px solid red; */
    width: 100%!important;
    max-height: 1.8rem!important;
    overflow-y: hidden;
    overflow-x: hidden;    
    overflow-y: hidden;

  }
  .ant-card-meta-title{
    /* border: 1px solid red; */
    width: 100%!important;
    max-height: 2rem!important;
    overflow-y: hidden;
    overflow-x: hidden;

  }
  .publishedName{
    position: absolute;
    top: 6px;
    left: 7px;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 10%;
    background-color: white;
    width: 5rem;
    font-size: 0.8rem;
  }
  .PostImg{
    height: 13rem!important; 
    object-fit: cover;
  }
  /* .ant-card-bordered,
  .ant-card-cover{
  } */

  .ant-card {
    /* border: 1px solid red; */

    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 8px 4px rgba(0, 0, 0 , 0.5); /* Add a subtle box shadow */
  }
  
  .ant-card:hover {

    transform: scale(1.07);
    cursor: pointer;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  */

  }
  .LinkClass{
    text-decoration: none!important;
  }
  .LinkClass:hover{
  opacity: 1; 
  }
  .cardDescription{
    opacity: 0.5;
    position: absolute;
    top: 0%;
    right: 3%;
    font-size: 1.5rem;
    color: #020202;
    border-radius: 100%;
    padding: 0.5rem;
    background-color: white;
  }
  

  /* @media(max-width:762px){
   
    .cardsContainer{
      display: flex!important;
      justify-content: center;
      align-items: center;
       width: 50%;
      display: flex;
      flex-wrap: wrap;
     
    }
  } */
  .cardsContainer{
    /* width: 100%; */
    /* border: 1px solid green; */
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  